.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

// widget Header
.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}
