.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

// create a widget element selector (message) - use it on the p tag
// off-white color
// no margin
// l-size padding on all sides
// center the text using - text-align: center;
// set the bottom border to a 1px solid border lighted version of $light-blue 10%
.widget__message {
  border-bottom: 1px solid lighten($light-blue, 10%);
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}

// widget Header
.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}
